<% if user_signed_in?  %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
   </aside>
    <div class="col-md-12">
      <h3>一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
 <div class="center jumbotron">
  <h1>Welcome to the Insta_App</h1>

  <h2>
    This is the sample application like Instagram
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-lg btn-primary" %>
  
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "post" ,class: "btn btn-lg btn-primary"%>
 </div>
<% end %>
