<% provide(:title, 'プロフィール編集') %>
<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label "ウェブサイト" %><br />
    <%= f.text_field :website, autofocus: true, autocomplete: "website" %>
  </div>
  
  <div class="field">
    <%= f.label "自己紹介" %><br />
    <%= f.text_area :information, autofocus: true, autocomplete: "information" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label "電話番号" %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>
  
  <div class="field">
    <%= f.label :gender, '性別', class:'control-label' %><br />
    <%= f.select :gender, [["",""], ["女性","女性"], ["男性","男性"]], autofocus: true, autocomplete: "gender" %>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %><br />
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>プロフィールを編集する場合はパスワードを入力してください。</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i><%=  @minimum_password_length %>文字以上,変更しない場合は未入力可</i><br />
    
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />

    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>



  <div class="actions">
    <%= f.submit "プロフィールを更新する" %>
  </div>
<% end %>

<h3>アカウント削除</h3>

<p> <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか。" }, method: :delete %></p>

<%= link_to "戻る", :back %>
