<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <font size="5" >自己紹介</font>
  </br>
  <%= @user.information %>
  <div class="col-md-12">
    <%= render 'follow_form' if user_signed_in?  %>
    <% if @user.posts.any? %>
      <h3>投稿 (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>