<%= form_for(current_user.posts.build) do |f| %>
  <span class="picture">
  <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
  </span>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>