<div class="col-xs-4" id="post-<%=post.id %>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <%= link_to(post_path(post)) do%>
  <span class="picture">
    <%= image_tag post.picture.url if post.picture? %></span>
  <% end %>
  <span class="timestamp">
  　<%= "#{time_ago_in_words(post.created_at)}前" %> 
    <% if current_user == post.user %>
      <%= link_to "削除", post, method: :delete,
                                       data: { confirm: "この投稿を削除しますか?" } %>
    <% end %>
  </span>
</div>