<% provide(:title, "投稿詳細") %>
<h3><%= @post.user.name %></h3>
 <%= image_tag @post.picture.url if @post.picture? %>
    <br/>
    いいね件数: <%= @post.likes.count %>
<% if current_user.already_liked?(@post) %>
  <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
<% else %>
  <%= button_to 'いいね', post_likes_path(@post) %>
<% end %>

<div class="comment-form">
  <%= form_for(@comment, url: post_comments_path(@post)) do |f| %>
    <div class="field">
     <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.text_field :content %>
    </div>
    <div class="field">
      <%= f.submit "コメントを投稿", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<h>コメント一覧</h>
<% @post.comments.each do |comment| %>
  <div id="comment-<%= comment.id %>">
    <strong><%= comment.content %></strong>
    by <%= link_to(comment.user.name,comment.user) %>
    <% if comment.user == current_user %>
      <%= link_to 'コメントを削除',post_comment_path(@post),method: :delete %>
    <% end %>
  </div>
<% end %>