<footer class="footer">
  <small>
    <%= link_to "Insta_App", root_path, id: "logo2" %>
  </small>
  <nav>
    <ul>
      <li>
        <% if user_signed_in? %>
          <%= render 'shared/post_form' %>
        <% end %>
      </li>
    </ul>
  </nav>
</footer>
